:root {
  font-size: 20px;
}

html {
  font-size: 20px;
}

body {
  background-color: #94afe0;
  text-align: center;
  line-height: 2.2;
}

h1 {
  font-size: 25px;
  font-family: Arimo, sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-family: 'Zalando Sans', sans-serif;
  font-weight: 100;
}

p {
  font-size: 14px;
  font-family: 'Zalando Sans', sans-serif;
  font-weight: 100;
}

div {
  background-color: #e0c594;
  border: 5px solid honeydew;
  width: auto;
  padding: 20px;
  margin: 100px;
  font-weight: 100;
  margin-top: auto;
}
