:root {
  font-size: 20px;
}

html {
  font-size: 20px;
}

body {
  background-color: #94afe0;
  text-align: center;
  line-height: 2.2;
}

h1 {
  font-size: 25px;
  font-family: 'Zalando Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

h2 {
  font-size: 20px;
  font-family: 'Zalando Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

p {
  font-size: 16px;
  font-family: Quicksand, sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

div {
  background-color: #e0c594;
  border: 5px solid honeydew;
  width: auto;
  padding: 20px;
  margin: 100px;
  font-weight: 100;
  margin-top: auto;
}
